
services:
  backend:
    build: ./BACK/my_docker_django_app
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./BACK/my_docker_django_app:/app
    restart: always
    depends_on:
      - mysql
    networks:
      - mynetwork

  frontend:
    build: ./FRONT/my_front_app
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./FRONT/my_front_app:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - NODE_ENV=development
      - FAST_REFRESH=true
    depends_on:
      - backend
    networks:
      - mynetwork
    command: npm run dev

  mysql:
    image: mysql:8
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"                 
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - mynetwork


volumes:
  mysql_data:
    driver: local
networks:
  mynetwork:
    driver: bridge